{% extends 'hospital/patient_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Description</th>
          <th>Date &amp; Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for appt in appointments %}
        <tr>
          <td>{{ appt.doctorName }}</td>
          <td>{{ appt.description }}</td>
          <td>{{ appt.appointment_datetime|date:"Y-m-d H:i" }}</td>
          <td>
            {% if appt.status %}
              <span class="badge bg-success">Confirmed</span>
            {% else %}
              <span class="badge bg-warning">Pending</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock content %}
